body{
    margin: 0;
    padding: 50px;
    /* "margin" <-- é a parte mais a fora da tela, "padding" <-- é a parte dentro da margem" */
    background-image: url('../img/43676156724_f91c335b8a_b.jpg');
    background-size: 110%;
    background-attachment: fixed;
    background-repeat: no-repeat ;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    color:rgba(50, 37, 87, 0.993);
    display: flex; /* "Block" <-- deixa a imagem bloqueada presa,  "flex" <-- deixa a imagem livre para mudarmos a posição*/
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

  
}

.profissoes{
    margin: 10px;
    background-color: blueviolet;
    border: 10px double burlywood;/**/
    border-radius: 100px; /* arredondamento da borda*/
    padding: 20px;  /*espaço interno*/
    box-shadow: 0px 0px 0px 10px rgb(26, 35, 85);
    width: 20%;
    text-align: center;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: blueviolet;
}

form{

    
        padding: 20px;
        background-color: chocolate;
        color: #fff;
        border-radius: 4px;
        width: 80%; /* Ajuste o valor conforme necessário */
        max-width: 400px; /* Ajuste o valor conforme necessário */
        margin: 0 auto; /* Centraliza horizontalmente */
        display: flex;
        flex-direction: column; /* Organiza os elementos em colunas */
        gap: 15px; /* Espaçamento entre os elementos */
    
    
    input, select, textarea, button {
        width: 100%; /* Faz com que todos os campos ocupem a largura completa do formulário */
        padding: 10px;
        border-radius: 4px;
        border: none; /* Remove bordas padrão */
    }
    
    input[type="submit"], button {
        background-color: #fff;
        color: chocolate;
        font-weight: bold;
        cursor: pointer;
    }
    
    input[type="submit"]:hover, button:hover {
        background-color: #f0e0d6; /* Cor de fundo ao passar o mouse */
    }
    
    
}
